<!-- Footer -->
<footer>
  <div id="contact" class="g-py-80">
    <div class="container">
      <div class="container text-center g-max-width-750 g-mb-70">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
          <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">Contact us</h3>
          <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0">
            Keep in touch</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 g-mb-25 g-mb-0--md">

          <%= form_for :contact_us, url: 'contact-us', remote: true do |form| %>

              <div class="row">
                <div class="col-sm-6 form-group g-mb-30">
                  <%= form.text_field :name, id: 'inputGroup1_1', class: 'form-control g-font-size-14
                  g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10', placeholder: 'Your name' %>
                </div>

                <div class="col-sm-6 form-group g-mb-30">
                  <%= form.telephone_field :phone, id: 'inputGroup1_2', class: 'form-control g-font-size-14
                  g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10', placeholder: 'Your phone' %>
                </div>

                <div class="col-sm-6 form-group g-mb-30">
                  <%= form.email_field :email, id: 'inputGroup1_3', class: 'form-control g-font-size-14
                  g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10', placeholder: 'Email *',
                                       required: true %>
                </div>

                <div class="col-sm-6 form-group g-mb-30">
                  <%= form.text_field :subject, id: 'inputGroup1_4', class: 'form-control g-font-size-14
                  g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10', placeholder: 'Subject' %>
                </div>

                <div class="col-md-12 form-group g-mb-30">
                  <%= form.text_area :message, id: 'inputGroup1_5', class: 'form-control g-resize-none g-font-size-14
                  g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10', placeholder: 'Message', rows: 4 %>
                </div>

                <div class="col-sm-6 form-group g-mb-30">
                  <%= recaptcha_tags %>
                </div>
              </div>

              <div class="text-center">
                <%= form.button 'Send Message', class: 'btn u-btn-primary btn-md text-uppercase g-line-height-1
                g-font-weight-700 g-font-size-11 rounded-0 g-py-12 g-px-25 mb-0', role: 'button', name: 'submit' %>
              </div>

          <% end %>

        </div>

        <div class="col-md-3">
          <address class="row text-center">
            <div class="col-sm-4 col-md-12 g-mb-30">
              <i class="icon-directions icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
              <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">Address</h3>
              <strong class="g-font-size-14 g-color-black">2530 Harry Wurzbach Rd. Ste 902. <br>San Antonio, TX</strong>
            </div>

            <div class="col-sm-4 col-md-12 g-mb-30">
              <i class="icon-call-in icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
              <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400g-mb-5">Phone number</h3>
              <strong class="g-font-size-14 g-color-black">210.389.3834</strong>
            </div>

            <div class="col-sm-4 col-md-12">
              <i class="icon-envelope-open icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
              <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">Email</h3>
              <a class="g-color-black g-color-black--hover" href="mailto:info@unify.com"><strong class="g-font-size-14">info@ronslandscape.com</strong></a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>

  <!-- Google (Map) [custom] -->
  <div id="map" class="g-py-80">
    <div class="g-pos-rel g-height-400">
      <div id="gMap7" class="js-g-map g-pos-abs w-100 h-100"
           data-type="custom"
           data-lat="29.4882772"
           data-lng="-98.42996599999998"
           data-zoom="11"
           data-title="RLM"
           data-styles='[
                 ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                 ["", "labels", [{"visibility":"on"}]],
                 ["road.highway", "", [{"color":"#278764"}]],
                 ["water", "", [{"color":"#f7f4f4"}]]
               ]'
           data-pin="true"
           data-pin-icon="<%= image_path 'pin.png' %>"></div>
    </div>
  </div>
  <!-- End Google (Map) [custom] -->

  <div class="text-center g-color-gray-dark-v5 g-theme-bg-blue-dark-v1 g-py-70">
    <%= link_to 'javascript:void(0);', class: 'd-block g-width-140 mx-auto g-mb-30' do %>
        <%= image_tag 'logo.png', alt: 'Image Description', class: 'img-fluid' %>
    <% end %>

    <ul class="list-inline d-inline-block mb-0">
      <li class="list-inline-item g-mr-10">
        <%= link_to 'https://www.facebook.com/ronslandscape/', class: 'u-icon-v3 g-width-35 g-height-35 g-font-size-16
        g-color-gray-dark-v5 g-color-white--hover g-theme-bg-blue-dark-v2 g-bg-primary--hover g-transition-0_2
        g-transition--ease-in' do %>
            <i class="fa fa-facebook"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'https://www.instagram.com/ronslandscape/', class: 'u-icon-v3 g-width-35 g-height-35 g-font-size-16
        g-color-gray-dark-v5 g-color-white--hover g-theme-bg-blue-dark-v2 g-bg-primary--hover g-transition-0_2
        g-transition--ease-in' do %>
            <i class="fa fa-instagram"></i>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
<!-- End Footer -->